/*
------
STYLE GUIDE
------

COLORS:
OPMI Teal: #1fa898
Contrast deep orange: #e58652
Contrast lime green: #a3be3a
Contrast dark blue: #1b4e60
Contrast purple: #8058a2
Contrast gold: #dea326
Contrast deep red: #de5445
 */
/* html {
  height: 100%;
  width: 100%;
  margin: 0;
} */
body {
  overflow: auto;
  height: 100%;
  width: 100%;
}
.title {
  background-color: #1FA898;
  text-align: center;
  padding: 0.5em;
}
p {
  font-size: 0.9em;
  font-family: 'Comfortaa', sans-serif;
}
h1 {
  font-weight: 400;
  color: white;
  font-family: 'Comfortaa', sans-serif;
  font-size: 3vw;
}
h3 {
  font-family: 'Comfortaa', sans-serif;
  color: #545454;
  font-size: 1.25em;
}
h4 {
  font-family: 'Comfortaa', sans-serif;
  color: white;
}
h5 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bolder;
}

#mapid {
  height: 100%;
}

#left-hand-tools {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding: 0;
}

#right-hand-map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
  padding: 0;
}

.button-bag {
  margin: 0.5em;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-sm {
  margin-top: 1vh;
}
.howto {
  margin: 0.75em;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  float: none;
}
.welcome {
  margin: 0.75em;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  float: none;
}
.modal-body {
  text-align: left;
}
button {
  background-color: #1b4e60;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: center;
}

.bottom-bar {
  background-color: #1FA898;
  text-align: center;
  padding: 0.5em;
}

.slider-label {
  text-align: right;
  font-size: 1em;
  color: #545454;

}
.slidecontainer {
  margin: 1em;
  padding: 0.5em;
}
.checkbox-container {
  margin: 1em;
  padding: 0.5em;
}
.checkbox {
  padding-left: 4em;
}
li  {
  margin-left: 0.75em;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.83em;
    border-radius: 0.25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0.75em;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #1FA898;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #1FA898;
    cursor: pointer;
}

.submit {
  text-align: center;
  margin: 0.75em;
}

a:link {
    color: #1FA898;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #1FA898;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #1FA898;
    background-color: transparent;
    text-decoration: underline;
}
.isDisabled {
  color: #d3d3d3;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 3.2em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 1.1em;
  width: 1.1em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #1fa898;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #1fa898;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.toggle-slider.round {
  border-radius: 3em;
}

.toggle-slider.round:before {
  border-radius: 50%;
}
.toggle-settings {
  padding-left: 0.5em;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

/* width */
::-webkit-scrollbar {
    width: 0.75em;
}

/* Track */
::-webkit-scrollbar-track-piece {
    background: #d3d3d3;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1fa898;
    opacity: 0.7;
}
.toolbar-section {
  margin-top: 1.5em;
}
.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
